@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #55C3FA;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

.desenho {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -3;
}

.sun {
    position: absolute;
    width: 7rem;
    height: 7rem;
    background-color: #FAF141;
    box-shadow: .5rem .5rem 10rem .5rem #FAF141;
    border-radius: 100%;
    top: 1rem;
    right: 3rem;
    z-index: -2;
}

.mountain1 {
    position: absolute;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 10rem solid #693718;
    top: calc(100vh - 10rem);
    left: 0;
    z-index: -1;
}

.mountain3 {
    position: absolute;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    border-bottom: 12rem solid #693718;
    top: calc(100vh - 12rem);
    right: 0;
    z-index: -1;
}

.mountain2 {
    position: absolute;
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 16rem solid #693718;
    left: calc(50vw - 7rem);
    top: calc(100vh - 16rem);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35vw;
    margin: 6rem auto;
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, .9);
    z-index: 3;
    border-radius: 43px;
}

form header {
    text-align: center;
}

form input[type="text"] {
    font-size: 18PX;
    padding: .75rem;
    border: 2px dashed #0f0f0f;
    text-align: center;
    border-radius: 10px;
}

form button {
    margin-top: 20px;
    border-radius: 5px;
    padding: .5rem;
    background-color: #71E373;
    border: none;
    /* -webkit-appearance: none !important; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    color: #000 ;
    font-size: 1rem ;
}